/*header nav */
// Navbar
.top{
    background-color: rgb(252, 129, 150);
}
#navbar {

    // height: 10vh;
    display: flex;
    padding: 3rem;

    img {
        height: 50px;
    }

    //End .logo
    ul {
      

        li {
            list-style: none;
        

            a {
                display: block;
                padding: 20px;
                text-align: center;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    //End ul
}

//End #navbar