/*header nav */
// Navbar

#navbar {

    // height: 10vh;
    display: flex;
    padding: 3rem;
    background-color: rgb(252, 165, 179);

    img {
        height: 50px;
    }

    //End .logo
    ul {


        li {
            list-style: none;


            a {
                display: block;
                padding: 20px;
                text-align: center;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    //End ul
}


//End #navbar